<div class="container">
  <h2>{{ countryName$ | async | uppercase }}</h2>
  <div class="stats-row">
    <app-stat-item label="Total number of Entries" [value]="numberOfJos$ | async" />
    <app-stat-item label="Total number of medals" [value]="medalsCount$ | async" />
    <app-stat-item label="Total number of athletes" [value]="athletesCount$ | async" />
  </div>
  <div class="chart-container">
    @if (chartData$ | async; as data) {
    <app-line-chart [results]="data" />
    } @else {
    <p class="no-data-message">No data available</p>
    }
  </div>
  <div>
    <button class="btn-back" (click)="goBack()">Go back</button>
  </div>
</div>
