<div class="container">
  <h2>Medals per Country</h2>
  <div class="stats-row">
    <div class="stat-item">
      <p>Number of JOs</p>
      <p>{{ numberOfJos$ | async }}</p>
    </div>
    <div class="stat-item">
      <p>Number of countries</p>
      <p>{{ numberOfCountries$ | async }}</p>
    </div>
  </div>
  <div class="chart-container">
    @if (chartData$ | async; as data) {
    <app-pie-chart [results]="data" (select)="onChartSelect($event)" />
    } @else {
    <p>No data available</p>
    }
  </div>
</div>
