<div class="container">
  <h2>Medals per Country</h2>
  <div class="stats-row">
    <app-stat-item 
      label="Number of JOs" 
      [value]="numberOfJos$ | async">
    </app-stat-item>
    <app-stat-item 
      label="Number of countries" 
      [value]="numberOfCountries$ | async">
    </app-stat-item>
  </div>
  <div class="chart-container">
    @if (chartData$ | async; as data) {
    <app-pie-chart [results]="data" (select)="onChartSelect($event)" />
    } @else {
    <p>No data available</p>
    }
  </div>
</div>
